<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_35f20377e59b4990a932b6747b5d0d9d {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_35f20377e59b4990a932b6747b5d0d9d" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_35f20377e59b4990a932b6747b5d0d9d = L.map(
                                  'map_35f20377e59b4990a932b6747b5d0d9d',
                                  {center: [-15.681307,-47.939025],
                                  zoom: 4,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_485df33da5ae45b6ac8dbe0a30781916 = L.tileLayer(
                'https://{s}.tiles.mapbox.com/v3/mapbox.world-bright/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_35f20377e59b4990a932b6747b5d0d9d);
        
    

            var marker_c96b9c87f51d417391a2f00488cae730 = L.marker(
                [-30.13173123,-51.3627469],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_b62a9cc9a9c34683a4a872a67e5d9344 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c96b9c87f51d417391a2f00488cae730.setIcon(icon_b62a9cc9a9c34683a4a872a67e5d9344);
            
    
            var popup_98a45b9dfa464694814318549456efbb = L.popup({maxWidth: '300'});

            
                var html_8d86953f6d2d45059b04991b4e93ef27 = $('<div id="html_8d86953f6d2d45059b04991b4e93ef27" style="width: 100.0%; height: 100.0%;">Up! (@ Gome&#39;s House in Guaíba, Rio Grande Do Sul) https://t.co/9HUl5tt6om</div>')[0];
                popup_98a45b9dfa464694814318549456efbb.setContent(html_8d86953f6d2d45059b04991b4e93ef27);
            

            marker_c96b9c87f51d417391a2f00488cae730.bindPopup(popup_98a45b9dfa464694814318549456efbb);

            
        
    

            var marker_edd4c61debc243eea5830e4d219dbf72 = L.marker(
                [-30.14492836,-51.3233447],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_6ba01f9630cf4c92ab2ab71958d91783 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_edd4c61debc243eea5830e4d219dbf72.setIcon(icon_6ba01f9630cf4c92ab2ab71958d91783);
            
    
            var popup_e0b1745701c6457b9344602c87a87faa = L.popup({maxWidth: '300'});

            
                var html_24c3076468df47c983e3f25f8e1a25fa = $('<div id="html_24c3076468df47c983e3f25f8e1a25fa" style="width: 100.0%; height: 100.0%;">I&#39;m at Super Bol in guaiba, rs w/ @_guilhermediias @edisonrm_ https://t.co/WhGkoibcvy</div>')[0];
                popup_e0b1745701c6457b9344602c87a87faa.setContent(html_24c3076468df47c983e3f25f8e1a25fa);
            

            marker_edd4c61debc243eea5830e4d219dbf72.bindPopup(popup_e0b1745701c6457b9344602c87a87faa);

            
        
    

            var marker_018a7ffc9fcb4b929feb05c05c8e81c8 = L.marker(
                [-0.04726045,-51.17422522],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_67e0ba28110444e1bdb4a2e8a6577ed1 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_018a7ffc9fcb4b929feb05c05c8e81c8.setIcon(icon_67e0ba28110444e1bdb4a2e8a6577ed1);
            
    
            var popup_c1dd3a0a49464c739e3c01af2f19ae42 = L.popup({maxWidth: '300'});

            
                var html_4c564dc93455400a9b651e89edb1dcba = $('<div id="html_4c564dc93455400a9b651e89edb1dcba" style="width: 100.0%; height: 100.0%;">Dia de engordar (@ Casa Da Rafa 👸 w/ @saragardhenia @rafaelamatos_ap) https://t.co/6Pba3vtLXH</div>')[0];
                popup_c1dd3a0a49464c739e3c01af2f19ae42.setContent(html_4c564dc93455400a9b651e89edb1dcba);
            

            marker_018a7ffc9fcb4b929feb05c05c8e81c8.bindPopup(popup_c1dd3a0a49464c739e3c01af2f19ae42);

            
        
    

            var marker_81246f5d93bd45ff87aa05271db7ecda = L.marker(
                [-29.35123643,-51.56465786],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_32eeafa826da436e966e8c331bda5e69 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_81246f5d93bd45ff87aa05271db7ecda.setIcon(icon_32eeafa826da436e966e8c331bda5e69);
            
    
            var popup_7aaf5f1340504bf586252bec99a027d3 = L.popup({maxWidth: '300'});

            
                var html_cf9dae4d6cf44513a90aca1cdc6c6f54 = $('<div id="html_cf9dae4d6cf44513a90aca1cdc6c6f54" style="width: 100.0%; height: 100.0%;">I&#39;m at Palafita&#39;s Restaurante in Carlos Barbosa, rs https://t.co/ye6O0rNj0C</div>')[0];
                popup_7aaf5f1340504bf586252bec99a027d3.setContent(html_cf9dae4d6cf44513a90aca1cdc6c6f54);
            

            marker_81246f5d93bd45ff87aa05271db7ecda.bindPopup(popup_7aaf5f1340504bf586252bec99a027d3);

            
        
    

            var marker_cb26d5a4d731470c84ed4ff050cb3884 = L.marker(
                [-23.49633667,-46.54407833],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_943f0551d6e44653a5ac624a1cc233fe = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_cb26d5a4d731470c84ed4ff050cb3884.setIcon(icon_943f0551d6e44653a5ac624a1cc233fe);
            
    
            var popup_f0429f9591e94445b4b83b8fca45d28a = L.popup({maxWidth: '300'});

            
                var html_baff44174fe84345917eea82b313a712 = $('<div id="html_baff44174fe84345917eea82b313a712" style="width: 100.0%; height: 100.0%;">Vamos São Paulo https://t.co/EQVsBTscMi</div>')[0];
                popup_f0429f9591e94445b4b83b8fca45d28a.setContent(html_baff44174fe84345917eea82b313a712);
            

            marker_cb26d5a4d731470c84ed4ff050cb3884.bindPopup(popup_f0429f9591e94445b4b83b8fca45d28a);

            
        
    

            var marker_41b0ec2714904147986ad92021e4f47c = L.marker(
                [-25.3894526,-51.4820457],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_c671ad41bdb341a19909d688dc1f88e2 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_41b0ec2714904147986ad92021e4f47c.setIcon(icon_c671ad41bdb341a19909d688dc1f88e2);
            
    
            var popup_c469e2d251fb484ab48c98dfc314be81 = L.popup({maxWidth: '300'});

            
                var html_96e77d272a30436d93a8abb9fea454a1 = $('<div id="html_96e77d272a30436d93a8abb9fea454a1" style="width: 100.0%; height: 100.0%;">@vine_psilva. Em qual você vai migo?</div>')[0];
                popup_c469e2d251fb484ab48c98dfc314be81.setContent(html_96e77d272a30436d93a8abb9fea454a1);
            

            marker_41b0ec2714904147986ad92021e4f47c.bindPopup(popup_c469e2d251fb484ab48c98dfc314be81);

            
        
    

            var marker_6a1d3b793cb844d2a6d3c802f31aa20b = L.marker(
                [-25.3894526,-51.4820457],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_10ff354a67084c3da25a0dcfd2130b6d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6a1d3b793cb844d2a6d3c802f31aa20b.setIcon(icon_10ff354a67084c3da25a0dcfd2130b6d);
            
    
            var popup_8948f0a4bff348d6a0cdcd7ec3641b95 = L.popup({maxWidth: '300'});

            
                var html_33eefa44ff2b458997643298e4485795 = $('<div id="html_33eefa44ff2b458997643298e4485795" style="width: 100.0%; height: 100.0%;">Hoje eu tava inspirada , fiz brownie e bolo de cenoura trufado</div>')[0];
                popup_8948f0a4bff348d6a0cdcd7ec3641b95.setContent(html_33eefa44ff2b458997643298e4485795);
            

            marker_6a1d3b793cb844d2a6d3c802f31aa20b.bindPopup(popup_8948f0a4bff348d6a0cdcd7ec3641b95);

            
        
    

            var marker_4bca3b678ff44438bc96936f10640a12 = L.marker(
                [-30.86245182,-51.80474231],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_c14dc04007024f17b4333d76c769c829 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4bca3b678ff44438bc96936f10640a12.setIcon(icon_c14dc04007024f17b4333d76c769c829);
            
    
            var popup_8a0070a4d26546fbad7a81b2905a4230 = L.popup({maxWidth: '300'});

            
                var html_b14f2294103f461faa89fa35ddfc5dfc = $('<div id="html_b14f2294103f461faa89fa35ddfc5dfc" style="width: 100.0%; height: 100.0%;">I&#39;m at Chacara Nunes in Camaquã, Rio Grande do Sul w/ @julyahmedeiros https://t.co/YpTEnExSjf</div>')[0];
                popup_8a0070a4d26546fbad7a81b2905a4230.setContent(html_b14f2294103f461faa89fa35ddfc5dfc);
            

            marker_4bca3b678ff44438bc96936f10640a12.bindPopup(popup_8a0070a4d26546fbad7a81b2905a4230);

            
        
    

            var marker_d7d36dc1b7994f608b6ce42bd675c4d9 = L.marker(
                [-30.14492836,-51.3233447],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_f36cda3b69e847ee9f7a2c1b8e55f1bf = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d7d36dc1b7994f608b6ce42bd675c4d9.setIcon(icon_f36cda3b69e847ee9f7a2c1b8e55f1bf);
            
    
            var popup_6952d3a2a1004643be979c6f72634288 = L.popup({maxWidth: '300'});

            
                var html_1bcf8b406ba743d5bfdabcb0c480e206 = $('<div id="html_1bcf8b406ba743d5bfdabcb0c480e206" style="width: 100.0%; height: 100.0%;">I&#39;m at Super Bol in guaiba, rs w/ @_guilhermediias @ojrdias https://t.co/Kp99rJxzvm</div>')[0];
                popup_6952d3a2a1004643be979c6f72634288.setContent(html_1bcf8b406ba743d5bfdabcb0c480e206);
            

            marker_d7d36dc1b7994f608b6ce42bd675c4d9.bindPopup(popup_6952d3a2a1004643be979c6f72634288);

            
        
    

            var marker_193c5054cd15406c94936409ea6aa353 = L.marker(
                [0.05444176,-51.04884822],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_fab4cb8e92b948f890e3c26c7dca1008 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_193c5054cd15406c94936409ea6aa353.setIcon(icon_fab4cb8e92b948f890e3c26c7dca1008);
            
    
            var popup_3b03dc31756c44cdaf320120096eb932 = L.popup({maxWidth: '300'});

            
                var html_b4f28eaacc50428b93df15727dde66e3 = $('<div id="html_b4f28eaacc50428b93df15727dde66e3" style="width: 100.0%; height: 100.0%;">I&#39;m at Alê&#39;s House in Macapá, Amapá https://t.co/VQQANUA37u</div>')[0];
                popup_3b03dc31756c44cdaf320120096eb932.setContent(html_b4f28eaacc50428b93df15727dde66e3);
            

            marker_193c5054cd15406c94936409ea6aa353.bindPopup(popup_3b03dc31756c44cdaf320120096eb932);

            
        
    

            var marker_e6cbbc40fe01431aa82c411a2a0cf519 = L.marker(
                [-30.11466,-51.3417731],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_8fbfe322bc7245f7b300d52fb1d5d24d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e6cbbc40fe01431aa82c411a2a0cf519.setIcon(icon_8fbfe322bc7245f7b300d52fb1d5d24d);
            
    
            var popup_90d221a256da4d1db1ab0d13784e14c2 = L.popup({maxWidth: '300'});

            
                var html_85bbd6da6a7d47daacd6d1da9d0a7e52 = $('<div id="html_85bbd6da6a7d47daacd6d1da9d0a7e52" style="width: 100.0%; height: 100.0%;">I&#39;m at Klafke&#39;s House in Guaiba w/ @rafaelklafke_ https://t.co/kRUQ5iHXwz</div>')[0];
                popup_90d221a256da4d1db1ab0d13784e14c2.setContent(html_85bbd6da6a7d47daacd6d1da9d0a7e52);
            

            marker_e6cbbc40fe01431aa82c411a2a0cf519.bindPopup(popup_90d221a256da4d1db1ab0d13784e14c2);

            
        
    

            var marker_725cdd7b8377416b9e0bb4c3b096e9e5 = L.marker(
                [-31.7786414,-52.350615],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_f4dd9cf6b3e34b19bf719d687cfa05b3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_725cdd7b8377416b9e0bb4c3b096e9e5.setIcon(icon_f4dd9cf6b3e34b19bf719d687cfa05b3);
            
    
            var popup_56e55baf2955484b873bf37a7aa560a1 = L.popup({maxWidth: '300'});

            
                var html_36f575bbc5da48ddb890c6b6cb8cd5dd = $('<div id="html_36f575bbc5da48ddb890c6b6cb8cd5dd" style="width: 100.0%; height: 100.0%;">Pó comprei um lanche to vendo una filme de comédia com minha mãe, esses filme são um quadro tchê kkkk</div>')[0];
                popup_56e55baf2955484b873bf37a7aa560a1.setContent(html_36f575bbc5da48ddb890c6b6cb8cd5dd);
            

            marker_725cdd7b8377416b9e0bb4c3b096e9e5.bindPopup(popup_56e55baf2955484b873bf37a7aa560a1);

            
        
    

            var marker_4c1cceecb2254ccfb90c4f3b811892b6 = L.marker(
                [-31.75,-52.33],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_517a728485814bb1a2eb08c15173a41b = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_4c1cceecb2254ccfb90c4f3b811892b6.setIcon(icon_517a728485814bb1a2eb08c15173a41b);
            
    
            var popup_9f760c0663f4449086a96d646e33c82c = L.popup({maxWidth: '300'});

            
                var html_f1c999bf725e4e638b3638fe60d9f930 = $('<div id="html_f1c999bf725e4e638b3638fe60d9f930" style="width: 100.0%; height: 100.0%;">scattered clouds -&amp;gt; light rain temperature down 14°C -&amp;gt; 13°C humidity up 62% -&amp;gt; 100% wind 7kmh -&amp;gt; 11kmh</div>')[0];
                popup_9f760c0663f4449086a96d646e33c82c.setContent(html_f1c999bf725e4e638b3638fe60d9f930);
            

            marker_4c1cceecb2254ccfb90c4f3b811892b6.bindPopup(popup_9f760c0663f4449086a96d646e33c82c);

            
        
    

            var marker_b981fbf8e5f748fc8c856cde4625b563 = L.marker(
                [-30.11961189,-51.3444431],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_e7f57802495749faa1ffcb80a83f3d31 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b981fbf8e5f748fc8c856cde4625b563.setIcon(icon_e7f57802495749faa1ffcb80a83f3d31);
            
    
            var popup_ff46aedba4db4df896c72ac4668e08f2 = L.popup({maxWidth: '300'});

            
                var html_7098e6de915e4d0b955e1f39fd3d011a = $('<div id="html_7098e6de915e4d0b955e1f39fd3d011a" style="width: 100.0%; height: 100.0%;">I&#39;m at Show de Gols in Guaiba, RS https://t.co/m3D82i9UIz</div>')[0];
                popup_ff46aedba4db4df896c72ac4668e08f2.setContent(html_7098e6de915e4d0b955e1f39fd3d011a);
            

            marker_b981fbf8e5f748fc8c856cde4625b563.bindPopup(popup_ff46aedba4db4df896c72ac4668e08f2);

            
        
    

            var marker_2fe37a07aef84dd7b6d56c623715e53e = L.marker(
                [-25.3680559,-51.4845784],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_bb180a6d494e4b0596adef5b8372a7fc = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2fe37a07aef84dd7b6d56c623715e53e.setIcon(icon_bb180a6d494e4b0596adef5b8372a7fc);
            
    
            var popup_866373353b0e46c590a603f1ef348472 = L.popup({maxWidth: '300'});

            
                var html_6a3a3a3c824640d19850198a17df54e5 = $('<div id="html_6a3a3a3c824640d19850198a17df54e5" style="width: 100.0%; height: 100.0%;">https://t.co/5Dp6O5miMA</div>')[0];
                popup_866373353b0e46c590a603f1ef348472.setContent(html_6a3a3a3c824640d19850198a17df54e5);
            

            marker_2fe37a07aef84dd7b6d56c623715e53e.bindPopup(popup_866373353b0e46c590a603f1ef348472);

            
        
    

            var marker_77487846a7c445ba882dc2e2be234504 = L.marker(
                [0.04453066,-51.05068921],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_aac05054b8464b88a9a23b9367051aa9 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_77487846a7c445ba882dc2e2be234504.setIcon(icon_aac05054b8464b88a9a23b9367051aa9);
            
    
            var popup_0a00278c87d445e6bf53ebff792c7ffe = L.popup({maxWidth: '300'});

            
                var html_d22d0898d2ad4b8cb197ade017fb6567 = $('<div id="html_d22d0898d2ad4b8cb197ade017fb6567" style="width: 100.0%; height: 100.0%;">I&#39;m at Escola de Danças DSM - @dancamacap in Macapá, Amapá https://t.co/LcTWL4GDFG</div>')[0];
                popup_0a00278c87d445e6bf53ebff792c7ffe.setContent(html_d22d0898d2ad4b8cb197ade017fb6567);
            

            marker_77487846a7c445ba882dc2e2be234504.bindPopup(popup_0a00278c87d445e6bf53ebff792c7ffe);

            
        
    

            var marker_c3f1e9b9737549f7a5c0d512fdfc0242 = L.marker(
                [0.04372213,-51.05742125],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_dbe206b14dfb4ad39efb1bc48ee9b4d9 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c3f1e9b9737549f7a5c0d512fdfc0242.setIcon(icon_dbe206b14dfb4ad39efb1bc48ee9b4d9);
            
    
            var popup_240bc433e0af4d1ba0561a1278133dde = L.popup({maxWidth: '300'});

            
                var html_75dc91f86232478c9ca3265ffc6a6f29 = $('<div id="html_75dc91f86232478c9ca3265ffc6a6f29" style="width: 100.0%; height: 100.0%;">I&#39;m at @SebraeAP - Serviço de Apoio às Micro e Pequenas Empresas in Macapá, Amapá https://t.co/OEdQCtObjZ</div>')[0];
                popup_240bc433e0af4d1ba0561a1278133dde.setContent(html_75dc91f86232478c9ca3265ffc6a6f29);
            

            marker_c3f1e9b9737549f7a5c0d512fdfc0242.bindPopup(popup_240bc433e0af4d1ba0561a1278133dde);

            
        
    

            var marker_eaf2b5d19d71467882515c7daf0af3ed = L.marker(
                [-30.1247579,-51.3422774],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_d4a342032fb44be6bb22da74dfe1ac68 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_eaf2b5d19d71467882515c7daf0af3ed.setIcon(icon_d4a342032fb44be6bb22da74dfe1ac68);
            
    
            var popup_469e4413e4254f51ab037ca9d1ca0152 = L.popup({maxWidth: '300'});

            
                var html_c75079509b57401abae0342264e525c4 = $('<div id="html_c75079509b57401abae0342264e525c4" style="width: 100.0%; height: 100.0%;">✌️ (@ Moradas da Colina in Guaíba, RS) https://t.co/aBT6foDiI1</div>')[0];
                popup_469e4413e4254f51ab037ca9d1ca0152.setContent(html_c75079509b57401abae0342264e525c4);
            

            marker_eaf2b5d19d71467882515c7daf0af3ed.bindPopup(popup_469e4413e4254f51ab037ca9d1ca0152);

            
        
    

            var marker_f423da0b2ba94ee29eb86d9711454beb = L.marker(
                [-30.1136579,-51.33110259],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_35f20377e59b4990a932b6747b5d0d9d);
            
    

                var icon_7f8a88d064054418a9680b63d7a682bf = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'blue',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f423da0b2ba94ee29eb86d9711454beb.setIcon(icon_7f8a88d064054418a9680b63d7a682bf);
            
    
            var popup_c44aec65966842fda970782c0d442524 = L.popup({maxWidth: '300'});

            
                var html_b193cfb0eb9b4af69b750036d910a3b2 = $('<div id="html_b193cfb0eb9b4af69b750036d910a3b2" style="width: 100.0%; height: 100.0%;">I&#39;m at Hospital Regional de Guaíba in Guaíba, RS https://t.co/x6kUvIX1kG</div>')[0];
                popup_c44aec65966842fda970782c0d442524.setContent(html_b193cfb0eb9b4af69b750036d910a3b2);
            

            marker_f423da0b2ba94ee29eb86d9711454beb.bindPopup(popup_c44aec65966842fda970782c0d442524);

            
        
</script>
